extends layout

block content
	if newProposal
		form.newProposal(action='/newProposal', method='post')
			h3 Nueva propuesta
			input(type='text', onfocus='clearInput(this, "Nombre de la propuesta")', name='name', required, value='Nombre de la propuesta')
			textarea(name='explanation', required, placeholder='Explica aquí tu propuesta')
			input.button(type='submit', value='Enviar')
	else
		a.button(href='/newProposal') Nueva propuesta
	if proposals
		ol.proposals
			each prop in proposals
				li.proposal
					- var upvoteImg
					if prop.voters.includes(username)
						- upvoteImg = '/images/upvote.png'
					else
						- upvoteImg = '/images/upvote_grayscale.png'
					div.votes
						img(onclick=`voteToggle('${prop.id}')`, src=upvoteImg)
						span.voteNum= prop.voteNum
					div.content
						h3.name= prop.name
						span.explanation= prop.explanation
						- const d = prop.dateAdded
						span.metadata De <b>#{prop.user}</b> el #{d.getDay()}/#{d.getMonth()}/#{d.getFullYear()} a las #{d.getHours()}:#{d.getMinutes()}