extends layout

block content
	a.button(href='/newProposal') Nueva propuesta
	if newProposal
		form.newProposal(action='/newProposal', method='post')
			input(type='text', name='name', value='Nombre')
			input(type='text', name='explanation', value='Explicación')
			input(type='submit', value='Enviar')
	if proposals
		ol.proposals
			each prop in proposals
				li.proposal
					- var upvoteImg
					if prop.voters.includes(username)
						- upvoteImg = '/images/upvote.png'
					else
						- upvoteImg = '/images/upvote_grayscale.png'
					img(onclick=`voteFor('${prop.id}')`, src=upvoteImg)
					h3.name= prop.name
					span.explanation= prop.explanation
					- const d = prop.dateAdded
					span.metadata De <b>#{prop.user}</b> el #{d.getDay()}/#{d.getMonth()}/#{d.getFullYear()} a las #{d.getHours()}:#{d.getMinutes()}